.slick-dots {
    position: absolute;
    top: 700px; /* Ajusta la posición vertical (mover arriba) */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Asegura que los puntos estén encima del carrusel */
}

.slick-dots li button {
    background-color: #fff; /* Color de los puntos */
    border-radius: 50%; /* Forma circular */
    width: 10px; /* Tamaño del punto */
    height: 10px; /* Tamaño del punto */
    margin: 0 5px;
    opacity: 0.7; /* Opacidad para los puntos inactivos */
    transition: opacity 0.3s, transform 0.3s;
}

.slick-dots li.slick-active button {
    opacity: 1; /* Mayor opacidad para el punto activo */
    transform: scale(1.0); /* Aumenta el tamaño del punto activo */
    background-color: #3c00a3; /* Color del punto activo (negro o el color que desees) */
}

.carousel-container {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.carousel-item {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.carousel-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra todo el espacio */
}

.carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 1;
}

.carousel-text {
    font-size: 3rem;
    font-weight: bold;
}

.carousel-subtext {
    font-size: 1.5rem;
    margin-top: 10px;
}
